@import "tailwindcss";

@layer base {
  body {
    @apply bg-one h-screen text-white;
  }

  h1 {
    @apply text-xl font-bold text-five;
  }
  h2 {
    @apply text-lg font-semibold text-five;
  }
}
@theme {
  --color-one: #0d1321;
  --color-two: #1d2d44;
  --color-three: #3e5c76;
  --color-four: #748cab;
  --color-five: #f0ebd8;
}

@layer components {
  .card1{
    @apply flex items-center gap-6 bg-one rounded-xl px-4 p-2  m-3;

    h2 {
      @apply text-lg font-semibold text-orange-500;
    }

    p {
      @apply text-sm font-semibold text-gray-400;
    }
  }

  .card2{
    @apply bg-two w-full rounded-2xl hover:cursor-pointer;

  }

 .btn {
  @apply  gap-2 flex text-2xl font-semibold hover:bg-one p-2 px-4 rounded-full hover:cursor-pointer;
 }



 
}



/* .scrollbar-hide::-webkit-scrollbar {
  display: none;
} */
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
